<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KSP_CPC</title>

    <link rel="icon" type="image/png" href="~/img/favicon.png">

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/animate.min.css" />
    <link rel="stylesheet" href="~/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="~/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/meanmenu.min.css" />
    <link rel="stylesheet" href="~/css/nice-select.min.css" />
    <link rel="stylesheet" href="~/css/odometer.min.css" />
    <link rel="stylesheet" href="~/css/style1.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />

    <link rel="stylesheet" href="css/sweetalert2.min.css">

    <link rel="stylesheet" href="~/css/cssNotyf/notyf.min.css">

    @RenderSection("Styles", false);

</head>
<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="header-area">
        <!-- Start Top Header -->
        <div class="top-header top-header-three">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-10">
                        <ul class="header-left-content">
                            <li>
                                <i class="bx bx-home"></i> Karnataka State Police
                            </li>
                            <li>
                                <i class="bx bx-phone-call"></i>
                                <a href="tel: 080 2294 3346 / 3039"> 080 2294 3346 / 3039</a>
                            </li>
                            <li>
                                <i class="bx bx-time"></i>
                                <a href="#"> 10:30 am - 05:30 pm </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Top Header -->
        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <div class="desktop-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index">
                            <img src="~/img/logo.gif" alt="logo">
                        </a>
                        @* <span class="iso">(ISO : 9001 - 2015 CERTIFIED RECRUITMENT PROCESS)</span>*@

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="index" class="nav-link active">
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index" class="nav-link">
                                        Notification
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="instructions" class="nav-link">
                                        Instruction
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index" class="nav-link">
                                        Broucher
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index" class="nav-link">FAQ</a>
                                </li>
                            </ul>

                            <div class="others-option">
                                <div class="get-quote">
                                    <a href="login" class="default-btn">
                                        <span>My Application</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option justify-content-center d-flex align-items-center">
                                <div class="get-quote">
                                    <a href="pricing-style-two.html" class="default-btn">
                                        <span>Get A Quote</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <a href="index.html" class="logo">
                            <img src="img/logo.jpg" alt="Image">
                        </a>
                        <p> Please note that this page also provides links to the websites / web pages of Govt. Ministries/Departments/Organisations. The content of these websites are owned by the respective organisations and they may be contacted for any further information or suggestion </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Services</h3>
                        <ul class="import-link">
                            <li>
                                <a href="#">Notification</a>
                            </li>
                            <li>
                                <a href="#">
                                    Instruction
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Broucher
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    FAQ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Important Link</h3>
                        <ul class="import-link">
                            <li>
                                <a href="https://ksp.karnataka.gov.in/"> Karnataka State Police </a>
                            </li>
                            <li>
                                <a href="https://sevasindhuservices.karnataka.gov.in/"> Seva Sindhu </a>
                            </li>
                            <li>
                                <a href="https://cvs.recruitment.ksp.gov.in"> DigiLocker </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Address</h3>
                        <ul class="address">
                            <li class="location">
                                <i class="bx bxs-location-plus"></i> Karnataka State Police
                            </li>
                            <li>
                                <i class="bx bxs-phone-call"></i>
                                <a href="#">080 2294 3346 / 3039</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="go-top">
        <i class="bx bx-chevrons-up"></i>
        <i class="bx bx-chevrons-up"></i>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle Min JS -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu Min JS -->
    <script src="~/js/meanmenu.min.js"></script>
    <!-- Wow Min JS -->
    <script src="~/js/wow.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Nice Select Min JS -->
    <script src="~/js/nice-select.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="~/js/magnific-popup.min.js"></script>
    <!-- Jarallax Min JS -->
    <script src="~/js/jarallax.min.js"></script>
    <!-- Appear Min JS -->
    <script src="~/js/appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="~/js/odometer.min.js"></script>
    <!-- Smoothscroll Min JS -->
    <script src="~/js/smoothscroll.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="~/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/js/contact-form-script.js"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="~/js/ajaxchimp.min.js"></script>
    <!-- Custom JS -->
    <script src="~/js/custom.js"></script>

    <script src="js/sweetalert2.js"></script>

    <script>
        function login(){
        Swal.fire(
            'Good job!',
            'You clicked the button!',
            'success'
            )
        }
    </script>

    <script src="~/js/jsNotyf/notyf.min.js"></script>

    @if (TempData["ErrorMessage"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                notyf.error('@TempData["ErrorMessage"]');
            });
        </script>
    }

    @if (TempData["InfoMessage"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                notyf.open({
                    type: 'info',
                    message: '@TempData["InfoMessage"]'
                });
            });
        </script>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                notyf.success('@TempData["SuccessMessage"]');
            });
        </script>
    }

    @if (TempData["WarnMessage"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                notyf.success('@TempData["WarnMessage"]');
            });
        </script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            var pgurl = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);
            //alert(pgurl);
            if (pgurl == "") {
                $('.nav-link[href="Index"]').parent().addClass("active");
            }

            $('.sidebar-menu a').each(function () {
                var href = $(this).attr('href');
                if (pgurl === href) {
                    $(this).closest('li').removeClass('active');
                    $(this).closest('li').addClass('active');
                    $(this).closest('ul').css('display', 'block');
                }
            });
        });

        let notyf = new Notyf({
            duration: 5000,
            dismissible: true,
            ripple: true,
            position: {
                x: 'right', y: 'top'
            },
            types: [
                {
                    type: 'warning',
                    background: 'orange',
                    icon: {
                        className: 'fa fa-home',
                        tagName: 'i',
                        text: ''
                    }
                },
                {
                    type: 'info',
                    background: 'blue',
                    icon: {
                        className: 'material-icons',
                        tagName: 'i',
                        text: 'warning'
                    }
                }
            ]
        });

    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
